<footer class="footer">
  <div class="first">
    <h1>EGEREEF</h1>
    <p>
      Dhaabbatni wal gargaarsaa egereef dhaabbata miti mootummaa ummata isaa
      tajaajiluuf dhaabbateedha.
    </p>
    <h1 style="margin-top: 10px">Location</h1>
    <p>Addis Abeba Ethiopia</p>
  </div>
  <div class="mid">
    <h1>Geessituu Ijoo</h1>
    <ul class="links">
      <li><a href="#project">Nuti Eenyu</a></li>
      <li><a href="#our_projects">Projektiiwwan</a></li>
      <li><a href="#contact_us">Nu qunnamaa</a></li>
      <li><a href="/fundme">Gumaachi(donate)</a></li>
    </ul>
  </div>
  <div class="last">
    <h1>Nu hordofaa</h1>
    <ul class="links smedias">
      <li>
        <a href=""><i class="fa-brands fa-facebook"></i>Facebook</a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-instagram"></i>Instagram</a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-tiktok"></i>Tiktok</a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-twitter"></i>X(Twitter)</a>
      </li>
    </ul>
  </div>
  <div class="copyright botto">
    @copyright2024 All rights reserved to egereef | developed by
    <a href="https://www.instagram.com/muhegebi1138">Muhe Gebi</a>
  </div>
</footer>
