<header class="header">
  <a class="logo" href="/">EGEREEF</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/about">Nuti Eenyu</a>
    <a href="projects">Porjektiiwwan</a>
    <a href="/contact">Nu qunnamaa</a>
    <a href="/fundme" class="button">Gumaachi</a>
    <% if(!currentUser) {%>
    <a href="/register" class="button">Register</a>
    <a href="/login" class="button">Login</a>
    <% }else{ %>
    <a href="/logout" class="button">Logout</a>
    <% } %>
  </div>
  <div class="burger-menu">
    <i class="fa fa-bars"></i>
  </div>
</header>
