<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<h1 id="project" class="proj_head">Nuti eenyu</h1>
<section class="about_us">
  <div class="about">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto,
      corporis dolore. Odio blanditiis fugit natus assumenda, laboriosam officia
      consequatur? Corrupti, officiis esse. Hic reiciendis ipsum rem. Nesciunt
      commodi id accusamus?
    </p>
  </div>
  <div class="line"></div>
  <div class="img"></div>
</section>
<%- include('../partials/footer') %> <%- include('../partials/bottom') %>
