<!-- admin paneli yapilacak -->
<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<h1>Wel come back mr. Admin</h1>
<h1>admin can post</h1>
<h1>manager can change role of user to admin and do all the admin actions</h1>

<%- include('../partials/bottom') %>
