<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<h1 id="contact_us" class="proj_head">Nu qunnamaa</h1>
<section class="contact_us">
  <div class="accounts">
    <h3 id="hesab">Lakk. bilbilaa</h3>
    <table id="phones">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Tel:-</td>
        <td>+251********</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>example@gmail.com</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>+251********</td>
      </tr>
    </table>
  </div>
  <div class="line"></div>
  <div class="accounts">
    <h3 id="hesab">Lakk. herrega baankii</h3>

    <table>
      <tr>
        <th>Bank</th>
        <th>Account</th>
      </tr>
      <tr>
        <td>CBE<img src="/CBE_SA.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
      <tr>
        <td>COOP <img src="/Cooperative_Bank_of_Oromia.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
      <tr>
        <td>AWASH <img src="/Awash_International_Bank.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
      <tr>
        <td>HIJRA <img src="/Logos-07.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
    </table>
  </div>
</section>

<%- include('../partials/footer.ejs') %> <%- include('../partials/bottom') %>
