<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<section class="container">
  <div class="list_of_banks">
    <h2 class="quote">Lammiitu Lammiif birmata</h2>
  </div>
  <div class="off_line">
    <h3>Offline Donation Bank Accounts</h3>
    <div class="banks_list">
      <!--  bu templete yeter -->
      <div class="bank">
        <h1>Name of the bank</h1>
        <p><b>For:</b>Dhaabbata wal gargaarsa egereef</p>
        <p><b>Account No:</b>1000***********</p>
      </div>
      <!-- buraya kadar -->
      <div class="bank">
        <h1>Name of the bank</h1>
        <p><b>For:</b>Dhaabbata wal gargaarsa egereef</p>
        <p><b>Account No:</b>1000***********</p>
      </div>
      <div class="bank">
        <h1>Name of the bank</h1>
        <p><b>For:</b>Dhaabbata wal gargaarsa egereef</p>
        <p><b>Account No:</b>1000***********</p>
      </div>
      <div class="bank">
        <h1>Name of the bank</h1>
        <p><b>For:</b>Dhaabbata wal gargaarsa egereef</p>
        <p><b>Account No:</b>1000***********</p>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer.ejs') %> <%- include('../partials/bottom') %>
