<!-- header ekle -->
<%- include('../partials/header') %> <%- include('../partials/navbar') %>

<section class="image">
  <div class="sliding-image">
    <h2>Dhaabbata Gargaarsa Namoomaa EGEREEF</h2>
  </div>
</section>

<!-- About us -->
<h1 id="project" class="proj_head">Nuti eenyu</h1>
<section class="about_us">
  <div class="about">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto,
      corporis dolore. Odio blanditiis fugit natus assumenda, laboriosam officia
      consequatur? Corrupti, officiis esse. Hic reiciendis ipsum rem. Nesciunt
      commodi id accusamus?
    </p>
  </div>
  <div class="line"></div>
  <div class="img"></div>
</section>
<!-- projektiiwwan hojjataman -->
<h1 id="our_projects" class="proj_head">Projektiiwwan hojjataman</h1>
<section class="projects">
  <div class="project">
    <img src="/kac-cesit-sondaj-vardir.jpg" alt="" />
    <div class="description">
      <h1><a>Bishaan dhugaatii baasuu</a></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus
        amet quas rerum, quisquam esse nesciunt nobis autem iusto, dolor
        accusamus, vitae excepturi fugiat. Aliquid animi aperiam sequi
        voluptatibus suscipit?<a href="/projects/1">Read More</a>
      </p>
    </div>
  </div>
  <div class="project">
    <img src="/annie-spratt-cVEOh_JJmEE-unsplash.jpg" alt="" />
    <div class="description">
      <h1><a>Qarqaarsa Ummata Harargee</a></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus
        amet quas rerum, quisquam esse nesciunt nobis autem iusto, dolor
        accusamus, vitae excepturi fugiat. Aliquid animi aperiam sequi
        voluptatibus suscipit?<a href="/projects/1">Read More</a>
      </p>
    </div>
  </div>
  <div class="project">
    <img src="/kac-cesit-sondaj-vardir.jpg" alt="" />
    <div class="description">
      <h1><a>Qarqaarsa Ummata wolloo</a></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus
        amet quas rerum, quisquam esse nesciunt nobis autem iusto, dolor
        accusamus, vitae excepturi fugiat. Aliquid animi aperiam sequi
        voluptatibus suscipit?<a href="/projects/1">Read More</a>
      </p>
    </div>
  </div>
  <div class="project">
    <img src="/annie-spratt-cVEOh_JJmEE-unsplash.jpg" alt="" />
    <div class="description">
      <h1><a>Qarqaarsa Ummata wolloo</a></h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus
        amet quas rerum, quisquam esse nesciunt nobis autem iusto, dolor
        accusamus, vitae excepturi fugiat. Aliquid animi aperiam sequi
        voluptatibus suscipit?
        <a href="/projects/1">Read More</a>
      </p>
    </div>
  </div>
</section>
<div class="all_proj">
  <a href="/allProjects">Projektiiwwan Hunda</a>
</div>

<h1 id="contact_us" class="proj_head">Nu qunnamaa</h1>
<section class="contact_us">
  <div class="accounts">
    <h3 id="hesab">Lakk. bilbilaa</h3>
    <table id="phones">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Tel:-</td>
        <td>+251********</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>example@gmail.com</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>+251********</td>
      </tr>
    </table>
  </div>
  <div class="line"></div>
  <div class="accounts">
    <h3 id="hesab">Lakk. herrega baankii</h3>

    <table>
      <tr>
        <th>Bank</th>
        <th>Account</th>
      </tr>
      <tr>
        <td>CBE<img src="/CBE_SA.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
      <tr>
        <td>COOP <img src="/Cooperative_Bank_of_Oromia.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
      <tr>
        <td>AWASH <img src="/Awash_International_Bank.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
      <tr>
        <td>HIJRA <img src="/Logos-07.png" alt="" /></td>
        <td>1000**************</td>
      </tr>
    </table>
  </div>
</section>
<!-- footer -->
<%- include('../partials/footer.ejs') %> <%- include('../partials/bottom') %>
